In [27]:
import pandas as pd
import numpy as np
from sklearn.utils import class_weight
from sklearn.utils import shuffle

In [38]:
df_labels = pd.read_csv('unifesp-final-normalized.csv')

df_labels.head()

   prontuario    imagem  retinopatia
0           1  img00001            0
1           1  img00002            0
2           2  img00003            0
3           2  img00004            0
4           3  img00005            0

In [39]:
df_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2579 entries, 0 to 2578
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   prontuario   2579 non-null   int64
 1   imagem       2579 non-null   object
 2   retinopatia  2579 non-null   int64
dtypes: int64(2), object(1)
memory usage: 60.6+ KB

In [40]:
df_labels['imagem'] = df_labels['imagem'] + '.jpg'
df_labels

      prontuario        imagem  retinopatia
0              1  img00001.jpg            0
1              1  img00002.jpg            0
2              2  img00003.jpg            0
3              2  img00004.jpg            0
4              3  img00005.jpg            0
...          ...           ...          ...
2574        8522  img16262.jpg            0
2575        8523  img16263.jpg            0
2576        8523  img16264.jpg            0
2577        8524  img16265.jpg            0
2578        8524  img16266.jpg            0

[2579 rows x 3 columns]

In [41]:
df1 = df_labels[df_labels['retinopatia'] == 1]

df1

      prontuario        imagem  retinopatia
24            13  img00025.jpg            1
25            13  img00026.jpg            1
59            31  img00060.jpg            1
60            31  img00061.jpg            1
74            38  img00075.jpg            1
...          ...           ...          ...
2544        8507  img16232.jpg            1
2549        8510  img16237.jpg            1
2550        8510  img16238.jpg            1
2551        8511  img16239.jpg            1
2552        8511  img16240.jpg            1

[550 rows x 3 columns]

In [42]:
temp = pd.DataFrame(columns=['prontuario'])

df_test_test = df1.copy(deep=False)
sorted = df1['prontuario'].value_counts()
sorted = sorted.sort_values(ascending=False)
cont = 0

print(sorted)

for i in sorted.items():
    if cont >= 165: 
        break
    if cont + i[1] > 165:
        continue
    df_ttt = {'prontuario': i[0]}
    temp.loc[len(temp)] = df_ttt
    cont += i[1]

print(cont)
# print(temp)

df_aaa = df_labels[df_labels['prontuario'].isin(temp['prontuario'])]

print(df_aaa)

# df_aaa[df_aaa['retinopatia'] == 0]

# print(df_labels[~df_labels['prontuario'].isin(temp['prontuario'])])

# for i in temp:
#     temp2 = df1[df1['prontuario'] == i[0]]
#     df_test_test = pd.concat([df_test_test, temp2], ignore_index=True)
#     # df_test_test = df_test_test.append(temp2, ignore_index=True)
#     # print(temp2)

# df_test_test

prontuario
13      2
1429    2
1510    2
1519    2
1560    2
       ..
255     1
7837    1
887     1
7941    1
3313    1
Name: count, Length: 321, dtype: int64
165
      prontuario        imagem  retinopatia
24            13  img00025.jpg            1
25            13  img00026.jpg            1
97            50  img00098.jpg            1
98            50  img00099.jpg            1
101           52  img00102.jpg            1
...          ...           ...          ...
2176        7482  img14242.jpg            1
2179        7499  img14275.jpg            1
2180        7499  img14276.jpg            1
2201        7553  img14382.jpg            1
2202        7553  img14383.jpg            1

[166 rows x 3 columns]

In [43]:
df0 = df_labels[df_labels['retinopatia'] == 0]

df0

      prontuario        imagem  retinopatia
0              1  img00001.jpg            0
1              1  img00002.jpg            0
2              2  img00003.jpg            0
3              2  img00004.jpg            0
4              3  img00005.jpg            0
...          ...           ...          ...
2574        8522  img16262.jpg            0
2575        8523  img16263.jpg            0
2576        8523  img16264.jpg            0
2577        8524  img16265.jpg            0
2578        8524  img16266.jpg            0

[2029 rows x 3 columns]

In [44]:
contagem_retinopatia = df_labels.groupby('prontuario')['retinopatia'].value_counts().unstack(fill_value=0)

print(contagem_retinopatia.info())

print(contagem_retinopatia)

# Selecionar prontuários com apenas o valor 0 em 'retinopatia'
prontuarios_apenas_0 = contagem_retinopatia[1].eq(0).loc[lambda x: x].index

print(prontuarios_apenas_0)

# Filtrar o DataFrame original
resultado = df_labels[df_labels['prontuario'].isin(prontuarios_apenas_0)]

print(resultado.info())

# resultado.groupby(['prontuario']).size()

<class 'pandas.core.frame.DataFrame'>
Index: 1346 entries, 1 to 8524
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1346 non-null   int64
 1   1       1346 non-null   int64
dtypes: int64(2)
memory usage: 31.5 KB
None
retinopatia  0  1
prontuario
1            2  0
2            2  0
3            2  0
4            2  0
5            2  0
...         .. ..
8520         2  0
8521         2  0
8522         2  0
8523         2  0
8524         2  0

[1346 rows x 2 columns]
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       8515, 8516, 8517, 8518, 8519, 8520, 8521, 8522, 8523, 8524],
      dtype='int64', name='prontuario', length=1025)
<class 'pandas.core.frame.DataFrame'>
Index: 1978 entries, 0 to 2578
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   prontuario   1978 non-null   int64
 1   imagem       1978 non-null   object
 2   retinopatia  1978 non-null   int64
dtypes: int64(2), object(1)
memory usage: 61.8+ KB
None

In [45]:
resultado[resultado['retinopatia'] == 1]

Empty DataFrame
Columns: [prontuario, imagem, retinopatia]
Index: []

In [46]:
temp = pd.DataFrame(columns=['prontuario'])

df_test_test = resultado.copy(deep=False)
sorted = resultado['prontuario'].value_counts()
sorted = sorted.sort_values(ascending=False)
cont = 0

print(sorted)

for i in sorted.items():
    if cont >= 609: 
        break
    if cont + i[1] > 609:
        continue
    df_ttt = {'prontuario': i[0]}
    temp.loc[len(temp)] = df_ttt
    cont += i[1]

print(cont)
temp

df_bbb = df_labels[df_labels['prontuario'].isin(temp['prontuario'])]

df_bbb

prontuario
1547    3
60      2
46      2
47      2
48      2
       ..
6389    1
1572    1
1405    1
1441    1
1360    1
Name: count, Length: 1025, dtype: int64
609

      prontuario        imagem  retinopatia
0              1  img00001.jpg            0
1              1  img00002.jpg            0
4              3  img00005.jpg            0
5              3  img00006.jpg            0
6              4  img00007.jpg            0
...          ...           ...          ...
2149        7421  img14124.jpg            0
2150        7426  img14132.jpg            0
2151        7426  img14133.jpg            0
2577        8524  img16265.jpg            0
2578        8524  img16266.jpg            0

[609 rows x 3 columns]

In [47]:
df_bbb[df_bbb['retinopatia'] == 1]

Empty DataFrame
Columns: [prontuario, imagem, retinopatia]
Index: []

In [48]:
df_test_final_final = pd.concat([df_aaa, df_bbb], ignore_index=True)

df_test_final_final = shuffle(df_test_final_final)

df_test_final_final

     prontuario        imagem  retinopatia
706        3060  img05817.jpg            0
542         947  img01801.jpg            0
6            61  img00120.jpg            1
383         152  img00302.jpg            0
578        1163  img02204.jpg            0
..          ...           ...          ...
741        3555  img06755.jpg            0
276          64  img00126.jpg            0
670        2247  img04236.jpg            0
447         360  img00696.jpg            0
152        7452  img14181.jpg            1

[775 rows x 3 columns]

In [49]:
df_train_final_final = df_labels[~df_labels['prontuario'].isin(df_test_final_final['prontuario'])]

df_train_final_final = shuffle(df_train_final_final)

df_train_final_final

      prontuario        imagem  retinopatia
1692        5735  img10927.jpg            0
1296        4041  img07693.jpg            0
1540        5133  img09776.jpg            0
2005        6946  img13201.jpg            0
1857        6383  img12134.jpg            0
...          ...           ...          ...
1453        4703  img08952.jpg            0
1302        4062  img07733.jpg            1
2339        8008  img15271.jpg            0
1476        4808  img09154.jpg            0
1405        4442  img08456.jpg            0

[1804 rows x 3 columns]

In [50]:
df_train_final_final[df_train_final_final['prontuario'].isin(df_test_final_final['prontuario'])]

Empty DataFrame
Columns: [prontuario, imagem, retinopatia]
Index: []

In [51]:
df_test_final_final.to_csv('data/unifesp-test.csv', index=False)
df_train_final_final.to_csv('data/unifesp-train.csv', index=False)